.cfb-login {
  // background-image: url(../../assets/Backgrounds/3-min.jpg);
  background-size: cover;
  height: 100vh;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;

  @media only screen and (max-width: $bp-smallest) {
    padding: 0;
  }

  &__box {
    width: 50rem;
    background-color: rgba($black, 0.8);
    padding: 4rem 8rem;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;

    @media only screen and (max-width: $bp-smallest) {
      width: 100%;
      padding: 2rem 4rem;
      height: 100%;
    }

    @media only screen and (max-width: $bp-minimal) {
      padding: 2rem 1rem;
    }
  }

  &__heading {
    text-align: center;
    text-transform: uppercase;

    font-size: 2rem;
    letter-spacing: 1px;
    font-weight: 600;

    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-smallest) {
      margin-bottom: 2rem;
      //   font-size: 2.5rem;
    }
  }

  &__email {
    padding: 0.4rem 2rem;
  }
}
